/*General*/
hr.sections {
    overflow: visible;
    /* For IE */
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.sections:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.tituloEncabezado {
    font-size: 5rem;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    padding-left: 21%;
    font-weight: bold;
}

/*Header*/
#header {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(152, 148, 233, 1) 100%);
    font-family: 'Oswald', sans-serif;
    padding: 2%;
}

#header .img {
    width: 70px;
}

#header .navbar-brand {
    font-weight: bold;
    font-size: 2rem;
}

/*CRUD Sección*/
#crud {
    padding: 5%;
    text-align: center;
}

#crud .container #titulo {
    text-align: center;
}
.clTabla {
    display: inline-block;
}

table {
    visibility: visible;
}

table tr th {
    border: 1px solid #D5D9D9;
    width: 100px;
    height: 25px;
    background-color: #c3bef0;
    text-align: center;
    padding: 1%;
}

/* Para el estilo de las nuevas celdas */
td {
    text-align: center;
    width: 10%;
    height: 10%;
    padding: 2%;
}

td:hover {
    background-color: #cecece;
}


#crud .inCampos{
    font-family: 'Nerko One', cursive;
}

/*Imagenes de juegos*/
#productos {
    padding: 3% 5% 5% 5%;
}

#productos .img_productos {
    border-radius: 80%;
    margin-left: 25%;
    padding-top: 10%;
    padding-bottom: 5%;
    width: 60%;
}

#productos .frase_productos {
    text-align: center;
    padding-bottom: 7%;
    font-family: 'Poppins', sans-serif;
}

/*Sección puntos*/
#puntos .jumbotron-fluid {
    background-color: white;
    padding: 5%;
}

#puntos .jumbotron-fluid .container1 {
    text-align: left;
}

#puntos .jumbotron-fluid .container2 {
    text-align: right;
}

/*Footer*/
#footer {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(152, 148, 233, 1) 100%);
    font-family: 'Oswald', sans-serif;
    padding-left: 15%;
}

.columna-abajo {
    padding-top: 2%;
    padding-bottom: 2%;
}

.columna-abajo2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.columna-abajo3 {
    padding-top: 2%;
    padding-bottom: 2%;
}